<bean id="flyway" class="org.flywaydb.core,flyway" init-method="migrate" lazy-init="false">
    <property name="dataSource" ref="springDataSource"/>
    <property name="baselineOnMigrate" value="true"/>
    <property name="table" value="version"/>
    <property name="sqlMigrationPrefix" value="v"/>
    <property name="sqlMigrationSeparator" value="__"/>
    <property name="encoding" value="ISO-8859-1"/>
    <property name="validateOnMigrate" value="true"/>
</bean>